a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.fbar {
    display: block;
    background-color: #f2f2f2;
    border-top: 1px solid #D9D9D9;
    padding: 13px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}
 .nav {
     color: #444;
     text-align: right;
     padding-left: 30px;
     padding-right: 30px;
     position: relative;
     align-items: center;
     justify-content: flex-end;
     top: 15px;
     right: 0;
     width: 100%;
     z-index: 1000;

 }

 a {
     font-size: 13px;
     color: #444;
 }

img{
    height: 20px;
}

.body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#user img{
    height:30px
}

#logo{
    width: 77%;
    height: inherit;
}

body, td, a, p, .h {
    font-family: arial,sans-serif;
}
